html {
  margin: 0;
  padding: 0;
  background: #222222 center center fixed;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23606060' fill-opacity='0.4'%3E%3Cpath d='m7.5,9v12h4v-2h-2v-8h2V9Zm11,0v2h2v8h-2v2h4V9Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  scroll-padding-top: 4rem;
}

body {
  margin: auto;
  width: 640px;
  background: #eeeeee;

  font-family: 'Source Sans Pro', sans-serif;
  color: #222222;

  overflow-y: scroll;
}
@media (max-width: 699px) {
  body {
    width: 100vw;
  }
}

article {
  padding: 4rem 2em 1em;
}

code {
  font-size: 0.9em;
  font-family: 'Source Code Pro', monospace;
  background: #cccccc;
  padding: 0.03em 0.2em;
}

pre {
  white-space: pre-wrap;
  padding: 0.5rem 1rem;
  background: #cccccc;
}
pre > code {
  padding: 0;
  background: none;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0.5em 0 0.25em;
}
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  text-decoration: none;
}
h1 + p, h2 + p, h3 + p,
h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}

a {
  color: inherit;
}

ul, ol {
  list-style: '- ';
  margin: 0.5em 0;
  padding-left: 0.6em;
}

header {
  position: fixed;
  width: inherit;
  height: 4rem;
  top: 0;
  padding: 1rem 2rem 4px;
  background: #eeeeee;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #222222;
  padding-bottom: 1em;
}

nav span,
nav a {
  flex: 0 0 auto;
}

nav > a {
  margin-left: 0.6rem;
  padding: 0.03em 0.2em;
  text-decoration: none;
}
nav > a.active {
  background: #cccccc;
}

nav span a {
  font-weight: bold;
  text-decoration: none;
}

nav .grow {
  flex: 1;
}

footer {
  font-size: 0.8em;
  padding: 0 2rem;
}

footer > div {
  border-top: 1px solid #222222;
  text-align: right;
  padding: 0.5rem 0;
}

.embed {
  box-sizing: border-box;
  width: 100%;
}

.def {
  margin-top: 0.5rem;
}

.def > label a {
  text-decoration: none;
}

a:hover code,
.def:target > label code {
  text-decoration: none;
  background: #202020;
  color: #cccccc;
}

.nest {
  margin: 0.25rem 0.25rem 0 0;
  padding-left: 0.75rem;
  border-left: 1px solid #222222;
}

.nest > p {
  margin: 0;
}
