html {
  margin: 0;
  padding: 0;
  background: #222222 center center fixed;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23606060' fill-opacity='0.4'%3E%3Cpath d='m7.5,9v12h4v-2h-2v-8h2V9Zm11,0v2h2v8h-2v2h4V9Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
  margin: auto;
  width: 640px;
  background: #eeeeee;

  font-family: 'Source Sans Pro', sans-serif;
  color: #222222;
}

article {
  padding: 3rem 2em 1em;
}

code {
  font-family: 'Source Code Pro', monospace;
}

h2 {
  margin: 0.5em 0 0.25em;
}

a {
  color: inherit;
}

ul {
  list-style: '- ';
  margin: 0;
  padding-left: 0.6em;
}

nav {
  position: fixed;
  width: inherit;
  height: 4rem;
  top: 0;
  padding: 1em 2em 4px;
  background: #eeeeee;
  box-sizing: border-box;
}

nav div {
  display: flex;
  justify-content: space-around;

  border-bottom: 1px solid #222222;
  padding-bottom: 1em;
}

nav i {
  flex: 1;
}

nav a {
  margin-left: 1rem;
}

.def {
  margin-top: 0.5rem;
}

.nest {
  margin: 0.25rem 0.25rem 0 0;
  padding-left: 0.75rem;
  border-left: 1px solid #222222;
}

.nest > p {
  margin: 0;
  white-space: pre-wrap;
}
